@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,800;1,300&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* HEADER */

.header {
  padding: 2.4rem 0;
  background-color: #1f2937;
  display: block;
  color: #f9faf8;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  font-size: 2.4rem;
  color: inherit;
}

.logo:visited {
  color: inherit;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

.nav-link {
  color: #e5e7eb;
}

.nav-link:visited {
  color: #e5e7eb;
}

.hero {
  padding: 9.6rem 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex: 1;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.hero-title {
  font-weight: 800;
  font-size: 4.8rem;
  color: inherit;
}

.hero-description {
  max-width: 50rem;
  margin: 1.2rem 0;
  color: #e5e7eb;
}

.btn-sign-up {
  padding: 1rem 2.5rem;
  border-radius: 9px;
  border: none;
  color: inherit;
  background-color: #3882f6;
  font-weight: 700;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* SECTION INFORMATION */
.section-information {
  background-color: #fff;
  margin-bottom: 9.6rem;
}

.section-information .container {
  display: flex;
  flex-direction: column;
}

.information-title {
  color: #1f2937;
  font-weight: 800;
  margin: 3.6rem auto;
}

.inforamtion-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.information-article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.article-img {
  width: 17rem;
  height: 17rem;
  border: 3px solid #3882f6;
  border-radius: 11px;
  margin-bottom: 1rem;
}

.article-description {
  max-width: 17rem;
  text-align: center;
}

/* SECTION QUOTE */
.section-quote {
  background-color: #e5e7eb;
  padding: 9.6rem 0;
}

.section-quote .container {
  max-width: 80rem;
}

.quote {
  font-size: 3.6rem;
  font-weight: 300;
}

.quote-author {
  display: block;
  text-align: right;
  font-weight: 800;
  font-size: 2.4rem;
}
