@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,800;1,300&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* HEADER */

.header {
  padding: 2.4rem 0;
  background-color: #1f2937;
  display: block;
  color: #f9faf8;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  font-size: 2.4rem;
  color: inherit;
}

.logo:visited {
  color: inherit;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

.nav-link {
  color: #e5e7eb;
}

.nav-link:visited {
  color: #e5e7eb;
}

.hero {
  padding: 9.6rem 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex: 1;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.hero-title {
  font-weight: 800;
  font-size: 4.8rem;
  color: inherit;
}

.hero-description {
  max-width: 50rem;
  margin: 2.4rem 0;
  color: #e5e7eb;
}

.btn-sign-up {
  padding: 1rem 2.5rem;
  border-radius: 9px;
  border: none;
  color: inherit;
  background-color: #3882f6;
  font-weight: 700;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
